<app-header></app-header>

<html>
<head>
	<title>LIFESTYLE</title>
	
	
</head>
<body>
	
	
	
	<div class="middle">
		<div style="background-image:url('assets/images/a.jpg');">
		<p>
			<br> <br>
					Vareity of Dresses <br>
			<font size="5px"> We Satisfy your Soul </font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are guarantee for your cloth </font> <br> <br>

					<font color="#000" size="5px"> We Have Discount Options for You! </font> <br> <br>

                    From the olden times man had worn something to protect himself from heat and cold of nature<br><br>

                    The fashion in dress has changed many times. In the olden days in India man used to wear dhoti, kurta or shirt and women sarees or lehnga. Then came pant-shirt for man and salwar suits for women. <br><br>
<ul>
<li> The colours and cuts have also changed pattern
<li> Sometime it is light colour and sometime it is dark.
<li>Sometimes it is loose fitting and sometimes it is skin fit.
<li> Sometimes it is three piece suit and the other time it is two piece suit.
<li>A man who is neatly dressed and is wearing polished shoes gives the impression of his clean habit. So the dress gives some idea about the habit of the wearer.
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
